# Database and data files
/data/
# Seed database files are included in the repository
# *.db

# Configurations
/config/.env
.env
.streamlit/secrets.toml

# Python bytecode directories
__pycache__/

# macOS Finder metadata files
.DS_Store

# logs
/logs/